{% extends 'base.html' %}
{% block body %}
<table id="data_table" class="display">
	<thead>
		<tr>
			<th>First</th>
			<th>Second</th>
			<th>Third</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>One</td>
			<td>Two</td>
			<td>Three</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block js %}
$(document).ready(function() {
	$("#data_table").DataTable({
		"serverSide": true,
		"ajax": {
			"url": "table_api",
			"type": "POST",
			"data": function (args) {
				return { "args": JSON.stringify(args) };
			}
		}
	});
});
{% endblock %}